<nav class="navbar">
    <div class="nav-container container">
      <span><a href="http://localhost:3000"><img src="/images/icon.png" alt="Иконка EventHub" width="40" height="40"></a></span>
      
      <div class="nav-links">
          <a href="/app" class="nav-link">Главная</a>
          <a href="/events" class="nav-link">Мероприятия</a>
          <a href="/calendar" class="nav-link">Календарь</a>
          <a href="/auth/logout" class="nav-link">Выйти (<%= user.username %>)</a>
      </div>
    </div>
  </nav>